<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Suite" parallel="classes">  
   <parameter name="cityname" value="北京"/>
   <parameter name="cityname1" value="南京"/>
  <test name="Test">  
    <parameter name="cityname2" value="上海"/>
    <classes>  
      <class name="com.mayan.TestWeather"/>  
    </classes>  
  </test> <!-- Test -->  
</suite> <!-- Suite -->  